<h3><a>{{title}}</a></h3>
{{#cohorts}}
  <div>
    <h4>{{title}}</h4>
    <h5>Market: {{market}}</h5>
    <h5>Start Date: {{start_date}}</h5>
    <h5>End Date: {{end_date}}</h5>
  </div>
  {{#profiles}}
    <span>{{first_name}} {{last_name}}</span>
  {{/profiles}}
{{/cohorts}}
