<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Github Username</th>
      <th>Phone Number</th>
      <th>Remove Enrollee</th>
    </tr>
  </thead>
  <tbody>
    {{#profiles}}
      <tr>
        <th scope="row"></th>
        <td>{{first_name}}</td>
        <td>{{last_name}}</td>
        <td>{{github_username}}</td>
        <td>{{phone_number}}</td>
        <td><button class="btn btn-default remove-enrollee" data-id={{id}}>Remove</button></td>
      </tr>
    {{/profiles}}
  </tbody>
</table>
