<div>
  {{#profile}}
    <h2> Welcome, {{first_name}} {{last_name}} </h2>
    <h2>Phone Number: {{phone_number}}</small></h2>
    <h2>Gender: {{gender}}</small></h2>
    <h2>Github: {{github_username}}</small></h2>
  {{/profile}}
</div>
