{{#profile}}
<fieldset>
  <div class="form-group">
      <input type="text" class="form-control" name="profile[first_name]" value="{{first_name}}">
  </div>
  <div class="form-group">
      <input type="text" class="form-control" name="profile[last_name]" value="{{last_name}}">
  </div>
  <div class="form-group">
      <input type="text" class="form-control" name="profile[gender]" value="{{gender}}">
  </div>
  <div class="form-group">
      <input type="text" class="form-control" name="profile[phone_number]" value="{{phone_number}}">
  </div>
  <div class="form-group">
      <input type="text" class="form-control" name="profile[github_username]" value="{{github_username}}">
  </div>
  <input type="submit" class="btn btn-default" name="Create Profile" value="Update Profile">
{{/profile}}
